@model KlinikModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Klinik Detayı";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mesaj"] != null)
{
    <p class="text-danger">@TempData["Mesaj"]</p>
}

<div class="container">
    <div>
        <h4>Klinik</h4>
        <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Adi)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Adi)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Aciklamasi)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Aciklamasi)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Guid)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Guid)
            </dd>
        </dl>

        @if(Model.DoktorSayisiOutput > 0)
        {
            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.DoktorSayisiOutput)
                </dt>
                <dd class="col-10">
                    @Html.DisplayFor(model => model.DoktorSayisiOutput)
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-2">
                    @Html.DisplayNameFor(model => model.DoktorlarOutput)
                </dt>
                <dd class="col-10">
                    @Html.Raw(Model.DoktorlarOutput)
                </dd>
            </dl>
        }

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
        <a asp-action="Index">Back to List</a>
    </div>
</div>





