@model IEnumerable<HastaModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Hastalar";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mesaj"] is not null)
{
    <p class="text-success">@TempData["Mesaj"]</p>
}

<p>
    <a asp-action="Create">Yeni Hasta</a>
</p>
<table id="datatable" class="display" style="width:100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdiSoyadiOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KimlikNo)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.DogumTarihiOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyeti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdiSoyadiOutput)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KimlikNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DogumTarihiOutput)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cinsiyeti)
                    </td>
					<td>
                        <a asp-action="Details" asp-route-id="@item.Id">Detay</a>&nbsp;|&nbsp;
                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>&nbsp;|&nbsp;
                        <a href="#" onclick="deleteRecord(@item.Id);">Sil</a>
					</td>
				</tr>
		}
    </tbody>
</table>

@section Scripts {
    @*
        AlertifyJS Üzerinden Kayıt Silme:
        Hasta silmek için ilgili hastanın Delete link'i tıklandığında hastanın id'sini aşağıdaki deleteRecord fonksiyonuna
        parametre olarak gönderiyoruz ve AlertifyJS (https://alertifyjs.com) üzerinden bir konfirmasyon pop up'ının çıkmasını sağlıyoruz.
        Eğer kullanıcı evet derse o zaman Hastalar controller'ındaki Delete get action'ına silinmek istenen hastanın id'sini route değeri olarak ekleyip
        Javascript'te bir sayfanın yönlendirilmesini sağlayan window.location.href'e atıyoruz.
    *@

    <link href="/lib/AlertifyJS/css/alertify.css" rel="stylesheet" />
    <script src="/lib/AlertifyJS/alertify.js"></script>

    <script>
        function deleteRecord(id) {
            alertify.confirm(
                "Uyarı!", // pop up'ın başlığı
                "Hastayı silmek istediğinize emin misiniz?", // pop up'taki mesaj
                function () { // kullanıcı Yes butonuna tıkladığında çalışacak fonksiyon
                    //alertify.success("Silme başarıyla gerçekleştirildi.");
                    window.location.href = "/Hastalar/Delete/" + id; // silme işlemi için yönlendirdiğimiz Hastalar controller'ın Delete get action'ı
                },
                function () { // kullanıcı No butonuna tıkladığında çalışacak fonksiyon
                    //alertify.error("Silme iptal edildi."); // eğer istenirse error fonksiyonu üzerinden hata mesajı, success fonksiyonu üzerinden de
                    // başarılı mesajı kullanıcıya gösterilebilir, burada mesaj göstermeyelim dedik
                }
            ).set('labels', { ok: 'Evet', cancel: 'Hayır' }); // pop up'taki butonların Evet ve Hayır şeklinde özelleştirilmeleri
        }
    </script>

    @*
        Datatables:
        DataTables gibi Javascript - CSS kütüphaneleri wwwroot -> lib seçilip fare ile sağ tıklanarak Add -> Client-Side Library
        tıklanıp örneğin DataTables için datatables araması yapılıp çıkan sonuç seçilerek ve DataTables web sitesi (https://datatables.net)
        üzerinden hem kütüphane adı yazımı hem de versiyonu ile doğru kütüphane olduğu kontrol edilerek projeye eklenebilir.
        DataTables kütüphanesi tüm view'larda kullanılmayacağı için _Layout view'ında eklemek yerine
        sadece hasta listeleme sayfasında kullanılacağı Views -> Hastalar -> Index view'ında Scripts section'ına
        css ve js kütüphaneleri referansları eklenmelidir ve HTML table'ı DataTable'a dönüştürecek jQuery kodları yazılmalıdır.
    *@

    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            // $("#datatable").DataTable(); // İngilizce
            $("#datatable").DataTable({ // Türkçe
                language: {
                    url: "/json/datatablesTurkish.json"
                }
            });
        });
    </script>
}



